 
.item {
  background-color: aliceblue;
  width: 500px;
  height: 100px;
}
.items {
  padding: 20px;
  border: solid 1px white;
  border-radius: 20px;
}
.profilePic {
  width: 40px;
}
.deleted {
  color: darkred;
  transition: all 0.5s;
  cursor: pointer;
}
.deleted:hover
  {
  font-size: 1.3rem;
}
 
 .img{
  width: 50px;
  height: 50px;
  border-radius: 20px;
 }
.setting{

  background-color: rgb(176, 106, 179);
  padding: 10px;
  font-size: 2rem;
  cursor: pointer;
}
 